/*-------------------------- TOPBAR --------------------------*/

#topbar {
  height: 100px;
  padding: 40px 100px;
}

#topbar a {
  color: #37393e;
}

#header {
  font-family: 'Montserrat';
  font-size: 2em;
  max-width: 300px;
  display: inline-block;
}

#descrip {
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
}

#menu a {
  text-decoration: none;
}

#menu {
  font-family: 'Montserrat', sans-serif;
  float: right;
  font-weight: 400;
  letter-spacing: 0.05em;
}

#menu li {
  display: inline-block;
  margin: 0 0 0 25px;
}

#menu li:hover {
  cursor: pointer;
}


/*-------------------------- ABOUT --------------------------*/

#about {
  padding-bottom: 12px;
}

#about-container {
  max-width: 1000px;
  margin: 15px auto;
}

#about img {
  display: block;
  margin: 0 auto;
  height: 300px;
  border-radius: 50%;
  padding-bottom: 3px;
}

/*-------------------------- Footer --------------------------*/
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.inner {
    width: 400px;
    height: 30px;
    margin: auto;
}

#menu-footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}

#menu-footer li {
  display: inline-block;
  margin: 0 0 0 25px;
}

#menu-footer li:hover {
  cursor: pointer;
}

#menu-footer a {
  text-decoration: none;
}